body{
    
}
.mt-3{
    padding-top : 100px;
}
footer{
    color:black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
    text-align: center; 
}
.btnbtn{
    display: block;
    margin-right: auto;
    margin-left: auto;
}